# ignore ALL .log files
*.log
*.idea

# Ignore all files starting with a dot
.*

# ignore ALL files in ANY directory
test*
temp
backup
.backup
.temp 
.idea
__pycache__

backup/
temp/ 
.idea/
__pycache__/
